<nav>

    <div style="  text-align: center;">
        <a routerLink="/addstudentreactive" routerLinkActive="">
            <span>Reactive Add Student </span>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/addstudenttemplate">
            <span>Template Add Student </span>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/studentdetails">
            <span>Student Details </span>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/displayjsondata">
            <span>Json Data </span>
        </a>
    </div>
</nav>